html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recupere sua senha
  body
    h1 Recupere sua senha 
      a(href=redirectUrl) this link
    p We are glad to have you with us.
